@font-face {
    src: url("./assets/Arneson-g3w6.ttf"); /* https://www.fontspace.com/arneson-font-f17967 */
    font-family: arneson;
}

body {
    margin: 0;
    font-family: arneson;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hsl(33deg 80% 50%);
}

html, body {
    overflow-x: hidden;
} /* Fixes an issue where the whole page can scroll slightly, and it's annoying. */

input[type=range],
input[type=radio] {
    cursor: pointer;
}

button {
    color: black;
}
@media (hover: hover){ button:hover {
    filter: brightness(0.8);
}} /* Prevent hover effect on mobile. */
button:active {
    filter: brightness(0.7);
}
button[disabled] {
    filter: opacity(0.5);
    cursor: revert;
}


/* @media screen and (min-width: 1200px) { */
    ::-webkit-scrollbar {
        border-radius: 9999px;
    }
    ::-webkit-scrollbar-track {
        background: hsl(0deg 0% 0% / 20%);
        border-radius: 9999px;
    }
    ::-webkit-scrollbar-thumb {
        background: hsl(0deg 0% 0% / 40%);
        border-radius: 9999px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: hsl(0deg 0% 0% / 60%);
    } 
/* } */


.identityImg {
    width: 1em;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.widthFillAvailable {
    width: -webkit-fill-available;
    width: -moz-available;
}